body{
  background-color:rgb(226, 221, 221);
  margin:0;
  font-family:'Source Serif 4', sans-serif;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}
.heading-li{
  color:whitesmoke;
  font-size:30px;
  font-weight: bolder;
  text-align:center;
  margin-top: 10px;
  font-family: 'Source Serif 4', sans-serif;
  margin-left:15%;
}
li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #333;
}

.bmi{
  text-align:center;
}
/*.aboutdiv{
  width: 60em;
  margin-left:10em;
}*/
.about-para{
  text-align:left;
  font-size:25px; 
  color:#922d41;
  font-weight:400;
  font-family: 'Source Serif Pro', serif;
}
.cat-heading{
  text-align: center;
}
.cat-para{
  text-align:left;
  font-size:25px; 
  color:#922d41;
  font-weight:400;
  font-family: 'Source Serif Pro', serif;
}
.img1{
  width:50%;
}


#container{
  margin-left:20%;
  margin-right:  20%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

#btn {
  width: 100%;
  background-color: black;
  color: white;
  font-size:20px;
  font-family: 'Source Serif Pro', serif;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#btn:hover{
  background-color: #333;
}
.form-heading{
  text-align: center;
  font-family: 'Source Serif Pro', serif;
  
}
label{
  font-size:20px;
  font-weight:bold;
  font-family: 'Source Serif Pro', serif;
  margin-left: 10px;
}
#result{
  text-align:center;
  font-size:20px;
}
.bmigar{
  width: 100%;
}
.image-type{
  margin-left:15%;
  width:70%;
  height:20%;
}
.bmichart{
  width:100%;
}
footer {
  padding: 2px;
  background-color: rgb(236, 230, 230);
  color:black;
}
a{
  text-decoration: none;
  color:black;
  text-align: center;
}
.contact-us-heading{
  text-align:center;
}
.contact-para{
  margin-bottom:40px; 
  text-align:center

}
.footer-div{
  display:flex;
  justify-content: center;
}
#divaboutcat{
  width:70%;
  margin-left:15%;
}


